[package]
edition = "2021"
name = "akon-core"
version = "0.1.0"

[dependencies]
# Workspace dependencies
anyhow.workspace = true
base32.workspace = true
keyring.workspace = true
secrecy.workspace = true
serde.workspace = true
thiserror.workspace = true
toml.workspace = true
totp-lite.workspace = true
tracing-journald.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true

[build-dependencies]
bindgen.workspace = true

[dev-dependencies]
cargo-tarpaulin = "0.27"
serde_json = "1.0"
tempfile = "3.0"
